@charset "UTF-8";


/*------------------------------------*
   $ベーススタイル
 *------------------------------------*/
*{
margin: 0;
padding: 0;
box-sizing:border-box;
}

html{
-webkit-text-size-adjust: 100%;
}
body{
line-height: 1.6;
color: #302e2e;
font-size:11pt;
font-family:Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
background:#efeff4;
}

ul,ol{
list-style:none;
}

.contents{
margin:0 15px;
}
.contents .contents__inner--full{
background: #fff;
margin:0 -15px;
padding:20px 15px 30px;
}

a{
color:#302e2e;
}

img{
vertical-align: bottom;
}


.header{
background: #b8cb3a;
text-align: center;
padding: 5% 0;
position: relative;
}
.drawer .header__wrap{
  background: none;
  margin: 0;
  padding: 0;
}
.header .header__ttl{
text-indent: -5%;
}
.header .header__ttl img{
width: 66.4%;
display: block;
margin:0 auto;
position: relative;
left: -2.5%;
}

body .drawer-nav{
z-index: 15;
width: 80%;
background: none;
height: 100%;
overflow: auto;
padding-bottom:20%;
}
body.drawer--right .drawer-nav{
right: -80%;
}
body .drawer-overlay{
z-index:10;
background-color:rgba(0,0,0,.6);
}

body.drawer--right.drawer-open .drawer-hamburger{
right: 80%;
}

body .drawer-hamburger{
width: 28px;
/*position: absolute;
top: 50%;
margin:-30px 0 0;*/
z-index:15;
}
body .drawer-hamburger-icon,
body .drawer-hamburger-icon:after,
body .drawer-hamburger-icon:before{
background-color: #fff;
}

.nav__header{
text-align: left;
border-bottom:solid 1px #c7c7c8;
background: #fff;
border-radius:0 0 0 6px;
font-size: 9pt;
}
.nav__header li{
border-top:solid 1px #c7c7c8;
}
.nav__header li a{
display: block;
padding:18px 8px 16px 46px;
text-decoration: none;
position: relative;
}
/*
.nav__header > li:first-child > a{
padding-right:5px;
letter-spacing: -1px;
transform:scaleX(0.95);
}
*/
.nav__header ul a{
background: #f7f6f6;
padding-left:46px;
}

.nav__header li a::before,
.nav__header li a::after{
position: absolute;
left: 0;
top:50%;
content: "";
}
.nav__header li a::before{
width: 16px;
height: 16px;
border-radius: 100%;
background: #b8cb3a;
margin:-9px 0 0 20px;
}

.nav__header li a::after{
display: block;
margin:-5px 0 0 26px;
border:solid 4px transparent;
border-left:solid 6px #fff;
}
.nav__header ul a{
padding:16px 8px 14px 62px;
border-top:solid 1px #fff;
}
.nav__header ul a::before{
content:none;
}
.nav__header ul a::after{
border-left-color:#302e2e;
margin-left:46px;
}

.header.is-fixed {
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 10;
}


.footer{
background: #b8cb3a;
color: #fff;
text-align: center;
padding: 0 0 18px;
}

.dlBlock{
  background: #efefef;
  padding: 35px 15px 25px;
}
.dlBlock img{
  width: 100%;
}

.dlBlock .dlBox {
  padding: 25px 0 10px;
  position: relative;
}
.dlBlock .dlBox .app {
  width: 36%;
  position: absolute;
  left: 8%;
  bottom: 20%;
}
.dlBlock .dlBox .google {
  width: 40%;
  position: absolute;
  bottom: 21%;
  left: 52%;
}


.footer .footer__targetArea{
margin: 0 0 18px;
border-bottom:solid 1px #bfd04d;
}
.footer .footer__targetArea .btn{
margin: -14% 0 5%;
display: block;
}
.footer .footer__targetArea img{
width: 100%;
}

.footer .nav__footer{
letter-spacing: -.5em;
font-size: 14px;
}
.footer .nav__footer > li{
display: inline-block;
vertical-align: top;
letter-spacing: normal;
border-left:solid 1px #fff;
margin:0 0 10px;
padding: 0 10px;
}
.footer .nav__footer > li:first-child,
.footer .nav__footer > li:last-child{
border:none;
}
.footer .nav__footer > li:nth-child(4){
border:none;
}
.footer .nav__footer a{
color: #fff;
text-decoration: none;
}

.footer .copyright{
font-size: 12px;
padding:0 0 8%;
margin: 0;
}


/*------------------------------------*
   $テキストモジュール
 *------------------------------------*/
p{
margin-bottom: 20px;
}


em{
font-style:normal;
font-weight:bold;
}

strong{
color:#fe5f21;
}


body .contents .attention{
color: #f00;
font-weight: bold;
}
body .contents .attention a{
color: #f00;
}


.date{
text-align: right;
margin:-10px 0 20px;
}


/*------------------------------------*
   $見出しモジュール
 *------------------------------------*/
.contents__ttl--type1{
font-size: 15pt;
text-align: center;
padding: 15px;
margin:0 -15px;
border-bottom: solid 2px #c4c3c3;
background: #efeff4;
}
.contents__ttl--type1::after{
content: "";
display: block;
clear: both;
visibility: hidden;
}

.contents__ttl--type2{
margin:0 -15px 10px;
padding: 0 15px 8px;
border-bottom: solid 3px #859a00;
font-size: 14pt;
color: #859a00;
}

.contents__ttl--type3{
margin:0 0 20px;
padding: 12px 10px;
background:#b2c440;
font-size: 16pt;
color: #fff;
letter-spacing: -1px;
font-weight: bold;
text-align: center;
line-height: 1.2;
}
.contents__inner--full .contents__ttl--type3{
  margin-left: -15px;
  margin-right: -15px;
}
.contents__ttl--type3.notActive{
  background: #c4c3c3;
}

.contents__ttl--type4{
  background: #fff;
  border-bottom: solid 4px #859a00;
  clear: both;
  color: #859a00;
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.1;
  margin: 0 0 8px;
  padding: 0 4.5% 12px;
  text-align: left;
}
.contents__inner--full .contents__ttl--type4{
  margin-left: -15px;
  margin-right: -15px;
}

.ranking__ttl--no1,
.ranking__ttl--no2,
.ranking__ttl--no3{
font-size:10pt;
padding:6px 0 0 70px;
margin:0 0 10px;
min-height:31px;
}

.ranking__ttl--no1{
background:url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/ranking__ttl--no1.png) no-repeat 0% 50%;
background-size:63px 31px;
}
.ranking__ttl--no2{
background:url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/ranking__ttl--no2.png) no-repeat 0% 50%;
background-size:63px 31px;
}
.ranking__ttl--no3{
background:url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/ranking__ttl--no3.png) no-repeat 0% 50%;
background-size:63px 31px;
}


/*------------------------------------*
   $アンカ―モジュール
 *------------------------------------*/

.contents__anchor--type1{
letter-spacing:-.5em;
border-top: solid 1px #c4c3c3;
text-align: left;
margin:0 0 20px;
}
.contents__anchor--type1 li {
letter-spacing:normal;
display: inline-block;
position: relative;
margin:0;
font-size: 8pt;
border: solid 1px #c4c3c3;
border-top: none;
border-left: none;
width: 33.3%;
}
.contents__anchor--type1 li:nth-child(3n - 2){
border-left: solid 1px #c4c3c3;
}
.contents__anchor--type1 li:nth-child(3n){
width: 33.4%;
}
.contents__anchor--type1 li.pre{
display: none;
}

.contents__anchor--type1 li a {
display: block;
padding: 12px 9px 12px 0px;
margin-left: -1px;
color: #000;
text-decoration:none;
text-align: center;
transform: scaleX(0.9);
}

.contents__anchor--type1 li::before,
.contents__anchor--type1 li::after{
position: absolute;
top: 0;
bottom: 1px;
right: 3px;
margin: auto;
content: "";
}
.contents__anchor--type1 li::before{
width: 15px;
height: 15px;
border-radius: 100%;
background: #859a00;
}
.contents__anchor--type1 li::after {
width: 5px;
height: 5px;
display: block;
bottom: 3px;
right: 7px;
border-top: 2px solid #fff;
border-right: 2px solid #fff;
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
}

.anchor--type3{
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:-moz-flex;
  display:flex;
  flex-wrap:wrap;
  margin: 0 0 0 -10px;
  padding: 0 11px;
}
.anchor--type3 > li{
  margin: 0 0 10px;
}
.anchor--type3.col2 > li{
  width: 50%;
}
.anchor--type3.col3 > li{
  width: 33.3%;
}
body .anchor--type3 .contents__btn--detail,
body .anchor--type3 .contents__btn--detail2,
body .anchor--type3 .contents__btn--notActive{
  margin: 0 0 0 10px;
  padding-left: 0;
  padding-right: 0;
  letter-spacing: -1px;
}

/*------------------------------------*
   $リストモジュール
 *------------------------------------*/
.contents .contents__bullet{
margin:0 0 20px;
}
.contents .contents__bullet > li{
margin:0 0 8px;
padding:0 0 0 1.2em;
position:relative;
}
.contents .contents__bullet > li::before{
content:"";
width:6px;
height:6px;
border-radius:100%;
display:inline-block;
margin-left:-1.2em;
vertical-align:top;
position:absolute;
top:0.5em;
background:#302e2e;
}

.contents .contents__num{
margin:0 0 20px;
}
.contents .contents__num > li{
margin:0 0 8px;
padding:0 0 0 1.6em;
position:relative;
}
.contents .contents__num > li > .mark{
margin:0 0 0 -1.6em;
position:absolute;
vertical-align:top;
}

.contents .contents__num2{
margin:0 0 20px;
}
.contents .contents__num2 > li{
margin:0 0 8px;
padding:0 0 0 3.4em;
position:relative;
}
.contents .contents__num2 > li > .mark{
margin:0 0 0 -3.4em;
position:absolute;
vertical-align:top;
}

.contents .contents__num--icon{
margin: 0 0 20px;
}
.contents .contents__num--icon > li{
margin: 0 0 12px;
padding: 0 0 0 2em;
position: relative;
}
.contents .contents__num--icon > li > .mark{
display: inline-block;
background: #fe5f21;
color: #fff;
border-radius: 3px;
padding: 4px 0;
position: absolute;
margin: 0 0 0 -2em;
width: 1.6em;
text-align: center;
line-height: 1;
vertical-align:top;
}

.contents .contents__notice--type1{
font-size: 9pt;
color:#5b5b5b;
margin:0 0 20px;
}
.contents .contents__notice--type2{
color: #ff0000;
font-weight:bold;
font-size:10pt;
margin:0 0 20px;
}
.contents .contents__notice--type1 > li,
.contents .contents__notice--type2 > li{
margin:0 0 8px;
padding:0 0 0 1.2em;
position:relative;
}
.contents .contents__notice--type1 > li::before,
.contents .contents__notice--type2 > li::before{
content:"※";
display:inline-block;
margin-left:-1.2em;
position:absolute;
vertical-align:top;
}

.contents .list__recipe{
  border-top: solid 1px #fdf7e5;
  margin: 0 0 20px;
  font-size: 14px;
}
.contents .list__recipe > li{
  border-bottom: solid 1px #fdf7e5;
  margin: 0;
  padding: 8px 0;
  letter-spacing: -.5em;
  overflow: hidden;
}
.contents .list__recipe span{
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 10px;
  box-sizing: border-box;
}
.contents .list__recipe li > *{
  letter-spacing: normal;
}
.contents .list__recipe li .capacity{
  float: right;
  padding-right: 10px;
}

.contents .contents__bullet p,
.contents .contents__bullet ul,
.contents .contents__bullet ol,
.contents .contents__num p,
.contents .contents__num ul,
.contents .contents__num ol,
.contents .contents__notice--type1 p,
.contents .contents__notice--type1 ul,
.contents .contents__notice--type1 ol{
margin:6px 0;
}


/*------------------------------------*
   $定義リストモジュール
 *------------------------------------*/
.listDef{
margin:-1px -15px 0;
border-top: 1px solid #ccc;
}
.contents__ttl--type3 + .listDef{
  margin-top: -20px;
}
.listDef .listDef__ttl {
cursor: pointer;
display: block;
padding: 20px 30px 20px 30px;
margin: 0;
border-bottom: 0.5px solid #ccc;
text-indent: -15px;
font-size:11pt;
position: relative;
background:#fff;
}
.listDef .listDef__ttl.open::after{
-webkit-transform: rotate(315deg);
transform: rotate(315deg);
top: 4px;
bottom: 0;
}
.listDef .listDef__ttl::before,
.listDef .listDef__ttl::after{
position: absolute;
top: 0;
bottom: 0;
right: 16px;
margin: auto;
content: "";
vertical-align: middle;
}

.listDef .listDef__ttl::before{
width: 18px;
height: 18px;
border-radius: 100%;
background:#859a00;
}

.listDef .listDef__ttl::after{
width: 6px;
height: 6px;
right: 21px;
bottom: 4px;
border-top: 2px solid #fff;
border-right: 2px solid #fff;
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
}

.listDef .listDef__contents{
background: #efeff4;
margin: 0;
padding: 20px 15px;
}
.listDef .listDef__contents *:last-child{
  margin-bottom: 0;
}

.listDef .listDef__contents .listDef__contentsInner{
  background: #fff;
  padding: 15px;
}


.listDef2{
line-height: 1.5em;
}

.listDef2 .listDef2__ttl{
font-size: 13pt;
font-weight: bold;
margin: 0 0px 10px;
padding: 0 0px 10px;
border-bottom: solid 1px #c4c3c3;
}

.listDef2 .listDef2__contents{
margin:0 0 30px;
}


.listDef3{
margin: 0 0 15px;
}
.listDef3::after{
clear: both;
content: "";
display: block;
height: 1px;
visibility: hidden;
}

.listDef3 .listDef3__ttl{
background: #421b15;
border-radius: 3px;
color: #fff;
text-align: center;
padding: 5px 4px;
line-height: 1;
font-size: 10px;
font-weight: bold;
float: left;
}

.listDef3 .listDef3__contents{
padding: 0 0 5px 5px;
font-size: 12px;
letter-spacing: -.5px;
overflow: hidden;
}


/*------------------------------------*
   $画像モジュール
 *------------------------------------*/
.contents .contents__img--type1{
text-align:center;
margin:0 0 20px;
}
.contents .contents__img--type1 .contents__img--caption{
margin:10px 0;
display: inline-block;
font-size: 9pt;
}
.contents .contents__img--type1 img{
width:100%;
}


.contents .contents__img--type2{
text-align:center;
margin:0 -15px 30px;
}
.contents .contents__img--type2 .contents__img--caption{
margin:10px 0;
display: inline-block;
font-size: 9pt;
}
.contents .contents__img--type2 img{
width:100%;
}


.contents .contents__img--type3,
.contents .contents__img--type4{
letter-spacing: -.5em;
margin:0 0 0 -10px;
}
.contents .contents__img--type3 > *,
.contents .contents__img--type4 > *{
padding:0 0 20px 10px;
display: inline-block;
vertical-align: top;
width: 50%;
letter-spacing: normal;
position: relative;
}
.contents .contents__img--type3 *:last-child,
.contents .contents__img--type4 *:last-child{
margin-bottom: 0;
}
.contents .contents__img--type3 .icon--new1{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 0 0 0 10px;
}
.contents .contents__img--type3 img,
.contents .contents__img--type4 img{
  width:100%;
}


.contents .contents__img--type4 .btn-link::after{
  content: "詳細はこちら";
  display: block;
  background: #cc3321;
  border-radius: 100px;
  text-align: center;
  padding: 6px 0;
  color: #fff;
  font-weight: bold;
  margin: 5px 0 0;
}

.contents .contents__img--type4 .item{
  border-radius: 8px 8px 0 0;
  padding: 7px 10% 5px;
  background: #452304;
  color: #fff;
  font-size: 12px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
 }
.contents .contents__img--type4 a{
  text-decoration: none;
}
.contents .contents__img--type4 .item span{
  transform: scaleX(0.9);
  display: block;
  text-align: center;
}
.contents .contents__img--type4 .new .item::before{
  content: "NEW";
  color: #f57631;
  font-size: 10px;
  background: #fff604;
  display: inline-block;
  padding: 2px 20px;
  line-height: 1;
  transform: rotate(-41deg) scaleX(0.9);
  position: absolute;
  top: 4px;
  left: -22px;
  font-weight: bold;
}
.contents .contents__img--type4 .item .ttl-icon{
  transform: scaleX(1);
  display: block;
  text-align: center;
  background: #fff;
  margin: 0 20% 4px;
  padding: 3px;
  line-height: 1;
  color: #333;
  border-radius: 10px;
  font-size: 10px;
}
.contents .contents__img--type4 .image{
  position: relative;
}
.contents .contents__img--type4 .rank1 .image::after,
.contents .contents__img--type4 .rank2 .image::after,
.contents .contents__img--type4 .rank3 .image::after,
.contents .contents__img--type4 .rank4 .image::after,
.contents .contents__img--type4 .rank5 .image::after{
  position: absolute;
  bottom: 0;
  left:0;
  content: "";
  width: 100%;
  height: 57px;
  z-index: 5;
}
.contents .contents__img--type4 .rank1 .image::after{
  background: url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/icon--rank1type1.png) no-repeat 100% 0%;
  background-size: 142px 57px;
}
.contents .contents__img--type4 .rank2 .image::after{
  background: url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/icon--rank2type1.png) no-repeat 100% 0%;
  background-size: 142px 57px;

}
.contents .contents__img--type4 .rank3 .image::after{
  background: url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/icon--rank3type1.png) no-repeat 100% 0%;
  background-size: 142px 57px;

}
.contents .contents__img--type4 .rank4 .image::after{
  background: url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/icon--rank4type1.png) no-repeat 100% 0%;
  background-size: 142px 57px;

}
.contents .contents__img--type4 .rank5 .image::after{
  background: url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/icon--rank5type1.png) no-repeat 100% 0%;
  background-size: 142px 57px;
}

.contents .contents__img--type4 .contents__btn--detail{
  padding: 6px 0;
  margin: 5px 0 0;
}

.contents .contents__img--type4 .caption{
  font-size: 12px;
  display: block;
  margin: 5px 0;
  font-weight: bold;
}


/*----- 商品画像モジュール -----*/
.contents .contents__item--type1{
text-align:center;
margin:0 -15px 20px;
border-bottom:solid 1px #c4c3c3;
padding:0 0 1px;
}
.contents .contents__item--type1 .contents__item--ttl{
font-size:12pt;
margin:10px 15px;
}
.contents .contents__item--type1 .contents__item--price{
color:#fe5f21;
margin:0 15px 20px;
}
.contents .contents__item--type1 img{
width:60%;
}
.contents .contents__item--type1 a{
text-decoration:none;
}


.contents .contents__liIcon{
  letter-spacing: -.5em;
  margin: 0 0 0 -5px;
}
.contents .contents__liIcon > li{
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  padding: 5px 0 0 5px;
}
.contents .contents__liIcon.col3 > li{
  width: 33.3%;
}


/*------------------------------------*
   $ボタンモジュール
 *------------------------------------*/
.contents .contents__btn{
margin:20px 0;
}
.contents .contents__btn--detail,
.contents .contents__btn--detail2,
.contents .contents__btn--searchType1,
.contents .contents__btn--searchType2,
.contents .contents__btn--notActive,
.contents .contents__btn--back{
background: #b8cb3a;
border-radius:35px;
display:block;
align-items: center;
justify-content: center;
color: #fff;
font-weight: bold;
text-decoration:none;
padding:10px;
text-align:center;
}
.contents .contents__btn--detail2{
background-color: #b8cb3a;
color: #fff;
}
.contents .contents__btn--searchType2{
background-color: #fff;
color: #b8cb3a;
}
.contents .contents__btn--searchType1::before,
.contents .contents__btn--searchType2::before{
content:"";
background:url(https://cdn.fresh.lawson.jp/contents/loppick/common/bg__contents__btn--search.png) no-repeat 0% 0%;
background-size:20px;
margin:0 5px 0 -5px;
width:20px;
height:20px;
display:inline-block;
vertical-align:middle;
}
.contents .contents__btn--searchType2::before{
background-image: url(https://cdn.fresh.lawson.jp/contents/loppick/common/bg__contents__btn--search3.png);
}

.contents .contents__btn--notActive{
background-color: #c4c3c3;
color: #fff;
}

.contents .contents__btn--back{
background: #999;
}

/* .header-linkBtn .contents__btn--detail,
.header-linkBtn .contents__btn--detail2,
.header-linkBtn .contents__btn--notActive{
  padding-left:0;
  padding-right:0;
  letter-spacing: -1px;
} */
.contents .btn-link{
  text-decoration: none;
}



/*------------------------------------*
   $テーブルモジュール
 *------------------------------------*/
.contents .contents__tbl--type1{
margin:0 0 20px;
width:100%;
border-collapse:collapse;
border-bottom: solid 1px #c7c7c8;
}
.contents .contents__tbl--type1 th{
background:#f7f6f6;
font-weight:bold;
border:solid 1px #c7c7c8;
border-bottom: none;
vertical-align:middle;
text-align:left;
padding:12px;
}
.contents .contents__tbl--type1 td{
background:#fff;
border:solid 1px #c7c7c8;
border-bottom: none;
padding:12px;
word-break: break-all;
}
.contents .contents__tbl--type1.row th,
.contents .contents__tbl--type1.row td{
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.contents .contents__tbl--type1 th > *:last-child,
.contents .contents__tbl--type1 td > *:last-child{
  margin-bottom: 0;
}



/*----- プロモーションコードモジュール -----*/
.contents .contents__tbl--type2{
margin:0 0 20px;
width:100%;
border-collapse:collapse;
text-align:left;
font-size:9pt;
background:#fafafb;
}
.contents .contents__tbl--type2 th,
.contents .contents__tbl--type2 td{
vertical-align:top;
}
.contents .contents__tbl--type2 th{
padding:0 0 5px 10px;
}
.contents .contents__tbl--type2 td{
padding:0 10px 5px 0;
}
.contents .contents__tbl--type2 tbody tr:first-child th,
.contents .contents__tbl--type2 tbody tr:first-child td{
padding-top:10px;
}
.contents .contents__tbl--type2 tbody tr:last-child th,
.contents .contents__tbl--type2 tbody tr:last-child td{
padding-bottom:10px;
}


/*------------------------------------*
   $ボックスモジュール
 *------------------------------------*/
.contents .contents__guideBox{
border-top:solid 1px #c4c3c3;
margin:20px -15px 0;
padding: 20px 15px 0;
}

.contents .contents__guideBox .contents__guideBox--ttl{
font-size: 11pt;
display: block;
margin: 0 0 5px;
}

.contents .contents__guideBox .contents__guideBox--li > li{
margin:0 0 8px;
padding:0 0 0 2em;
position:relative;
}
.contents .contents__guideBox .contents__guideBox--li .mark{
display: inline-block;
background: #fe5f21;
color: #fff;
border-radius: 3px;
padding: 4px 0;
position: absolute;
margin: 0 0 0 -2em;
width: 1.6em;
text-align: center;
line-height: 1;
}

.contents .contents__guideBox .contents__guideBox--li p,
.contents .contents__guideBox .contents__guideBox--li ul,
.contents .contents__guideBox .contents__guideBox--li ol{
margin:6px 0;
}


.contents .contents__guideBox2{
background:#f7f6f6;
margin:20px -15px;
padding: 20px 15px 1px;
}
.contents__guideBox2 .contents__guideBox2-text{
  text-align: center;
  font-weight: bold;
  margin:0 0 10px;
  font-size: 12pt;
}


.pointBox{
  border: solid 1px #b4c82c;
  padding: 15px;
  margin: 0 0 20px;
}

.pointBox .pointBox__ttl{
  background: #b4c82c;
  color: #fff;
  margin: -15px -15px 15px;
  font-size: 12pt;
  padding: 10px;
  text-align: center;
}

.pointBox .pointBox__li > li{
  background: url(https://cdn.fresh.lawson.jp/contents/loppick/common/sp/pointBox__liIco.png) no-repeat 0% 0%;
  background-size: 22px 31px;
  padding: 3px 0 0 32px;
  margin:0 0 6px;
  font-size: 10.5pt;
}

.boxTotal{
  padding: 20px 12px;
  border-radius: 10px;
  margin: 0 0 20px;
  letter-spacing: -.5em;
  background: #f6f6f6;
}
.boxTotal .price{
  color: #a6ba2b;
  width: 50%;
  padding-right: 5px;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}
.boxTotal .price *{
  letter-spacing: normal;
}
.boxTotal .price .total{
  font-size: 18px;
}
.boxTotal .price .money{
  font-size: 25px;
  letter-spacing: -1px;
}
.boxTotal .price .yen{
  font-size: 15px;
}
.boxTotal .price .tax{
  font-size: 10px;
}

.contents .boxTotal .contents__btn--detail{
  width: 50%;
  margin: 0;
  letter-spacing: normal;
  display: inline-block;
  padding: 10px 5px;
  vertical-align: middle;
  letter-spacing: -1px;
}



/*------------------------------------*
   $画像＆テキスト横並びモジュール
 *------------------------------------*/
.contents .contents__imgBlock:after{
clear: both;
content: "";
display: block;
height: 1px;
visibility: hidden;
}
.contents .contents__imgBlock{
margin:0 0 20px;
}
.contents .contents__imgBlock .contents__imgBlock--imgLeft{
float: left;
padding:0 20px 10px 0;
}
.contents .contents__imgBlock .contents__imgBlock--imgRight{
float: right;
padding:0 0 10px 20px;
}

.contents .contents__imgBlock.separate .contents__imgBlock--cont{
overflow: hidden;
}
.contents__imgBlock .contents__imgBlock--cont > *{
margin-bottom: 10px;
}


/*------------------------------------*
   $FAQ
 *------------------------------------*/
.faq__category{
  margin-bottom: 20px;
}

.faq__ttl{
  border-bottom: 3px double #c4c3c3;
  font-size: 11pt;
  font-weight: bold;
  padding: 0 0 10px;
}

.faq__content{
  border-bottom: 1px dashed #dcdcdc;
  margin: 0 8px;
  padding: 10px 0 20px 1.7em;
  text-indent: -1.7em;
}

.faq__content--question{
  margin: 0 0 10px 0;
}

.faq__content--icon01,
.faq__content--icon02{
  font-size: 15pt;
  font-weight: bold;
  margin: 0 10px 0 0;
}

.faq__content--icon01{
  color: #859a00;
}

.faq__content--icon02{
  color: #fe5f21;
}


/*------------------------------------*
   $スケジュールリストモジュール
 *------------------------------------*/

.schedule__def--sample{
  position: relative;
  min-height: 157px;
}
.contents .schedule__defImg{
  float: left;
  width: 79px;
}
.listDef__contentsInner .schedule__defImg{
  margin-left: -15px;
}

.schedule__def{
  overflow: hidden;
  padding: 0 0 10px 10px;
}

.schedule__def::after{
  clear: both;
  height: 1px;
  display: block;
  content: "";
}
.schedule__def > dt{
  font-size: 9pt;
  color: #fe5f21;
  width: 42px;
  letter-spacing: normal;
  display: inline-block;
  float: left;
  clear: both;
  text-align: center;
  margin:0 0 10px;
}
.schedule__def .schedule__defTime{
  display: block;
  border-radius:12px;
  background: #b8cb3a;
  padding: 2px;
  color: #fff;
}
.schedule__def > dd{
  font-size: 9pt;
  color: #000;
  overflow: hidden;
  padding:0 0 0 10px;
  margin:0 0 10px;
  line-height: 1.6;
}
.schedule__def > dd:last-child{
  margin:0;
}
.schedule__def > dd::after{
  clear: both;
  height: 1px;
  display: block;
  content: "";
}


/*------------------------------------*
   $ページ先頭モジュール
 *------------------------------------*/
.pagetop{
position: fixed;
bottom: 20px;
right: 10px;
width: 50px;
height: 50px;
padding-top: 15px;
background: #000;
border-radius: 10px;
opacity: 0.5;
margin:0;
padding:0;
z-index:10;
}

.pagetop .pagetop__btn{
display: block;
color: #fff;
width: 50px;
height: 50px;
font-size: 7pt;
text-align:center;
text-decoration:none;
position:relative;
padding:28px 0 0;
letter-spacing:-1px;
text-indent:-9999px;
}

.pagetop .pagetop__btn::before{
content:"";
position:absolute;
top:18px;
display:block;
margin:0 15px 10px;
width: 16px;
height: 16px;
border-top: 4px solid #fff;
border-right: 4px solid #fff;
-webkit-transform:rotate(-45deg);
transform:rotate(-45deg);
}


/*------------------------------------*
   $スライダー
 *------------------------------------*/
.slider{
  margin: 0 -15px 20px 0;
}
.slider__ttl{
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 0 1.4em;
}
.slider__ttl::before{
  content: "●";
  color: #b8cb3a;
  position: absolute;
  margin: 0 0 0 -1em;
  line-height: 1;
  font-size: 18px;
}
.slider__liBox{
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.slider__li{
  letter-spacing: -.5em;
  margin: 0 0 0 -10px;
}
.slider__li > li{
  letter-spacing: normal;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 100px;
  display: inline-block;
}
.slider__li a{
  text-decoration: none;
}
.slider__li img{
  width: 100%;
}
.slider__li .name{
  font-size: 10px;
  display: block;
  margin: 5px 0 0;
  font-weight: bold;
}


/*------------------------------------*
   $Slickスライダー
 *------------------------------------*/
.slick{
  margin: 0 45px;
}
.slick-dotted.slick-slider{
  margin-bottom: 40px;
}

.slick-prev, .slick-next{
  background: #b8cb3a;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  font-size: 12px;
}
.slick-prev{
  left: -30px;
}
.slick-next{
  right: -30px;
}
.slick-prev::before{
  content: "";
}
.slick-next::before{
  content: "";
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
  background: #b8cb3a;
  color: #fff;
  opacity: 0.75;
}
.slick-prev span, .slick-next span{
  transform: scaleY(1.6);
  display: inline-block;
  position: relative;
  top: -4px;
  line-height: 1;
}
.slick-dots li button:before{
  font-size: 16px;
}
.slick-dots li.slick-active button:before{
  color: #b8cb3a;
}


/*------------------------------------*
   $Fixedモジュール
 *------------------------------------*/
.fixed.bottom.clone{
position: fixed;
bottom: 25px;
width: 100%;
}
.fixed.bottom.clone > *{
margin-right:95px;
}


/*------------------------------------*
   $タブモジュール
 *------------------------------------*/
.tab__li{
  letter-spacing: -.5em;
  font-size: 12px;
  margin: 0 -15px;
}
.tab__cont .tab__li{
  margin:0;
}
.tab__cont .tab__li.type1{
  margin: 0 0 0 -10px;
}

.tab__li > li{
  display: inline-block;
  letter-spacing: normal;
  width: 50%;
}
.tab__li.col3 > li{
  width: 33.3%;
}
.tab__li.col3 > li:last-child{
  width: 33.4%;
}
.tab__li.col4 > li{
  width: 25%;
}
.tab__li.type1 > li{
  padding: 0 0 0 10px;
}

.tab__li > li a{
  display: block;
  background: #f7f6f6;
  padding: 14px 5px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-left: solid 1px #fff;
  position: relative;
  font-weight: bold;
}
.tab__li > li:first-child a{
  border-left: none;
}
.tab__li > li *[id ^= tab__default]{
  background: #b8cb3a;
  color: #fff;
}
.tab__li > li *[id ^= tab__default]::before{
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 8px transparent;
  border-top: solid 8px #b8cb3a;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -8px
}

.tab__li.type1 > li a{
  display: block;
  background: #f7f6f6;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-left: none;
  border-radius: 18px;
}
.tab__li.type1 > li *[id ^= tab__default]{
  background: #ffb400;
  color: #fff;
}
.tab__li.type1 > li *[id ^= tab__default]::before{
  content: none;
}
.tab__cont{
  padding: 20px 0 1px;
}


/*------------------------------------*
   $調整モジュール
 *------------------------------------*/
/*----- 要素揃えモジュール -----*/
.al{ text-align:left   !important; }
.ac{ text-align:center !important; }
.ar{ text-align:right  !important; }

/*----- 文字サイズモジュール -----*/
.fs10{ font-size:7.3pt !important; }
.fs11{ font-size:8.3pt !important; }
.fs12{ font-size:9pt !important; }
.fs13{ font-size:10pt !important; }
.fs14{ font-size:10.5pt !important; }
.fs15{ font-size:11pt !important; }
.fs16{ font-size:12pt !important; }
.fs17{ font-size:12.8pt !important; }
.fs18{ font-size:13.5pt !important; }

/*----- 余白モジュール -----*/
.mb0 { margin-bottom:0    !important; }
.mb5 { margin-bottom:5px !important; }
.mb10{ margin-bottom:10px !important; }
.mb15{ margin-bottom:15px !important; }
.mb20{ margin-bottom:20px !important; }
.mb25{ margin-bottom:25px !important; }
.mb30{ margin-bottom:30px !important; }
.mb35{ margin-bottom:35px !important; }
.mb40{ margin-bottom:40px !important; }
.mb45{ margin-bottom:45px !important; }
.mb50{ margin-bottom:50px !important; }
