@charset "UTF-8";

/*---------------------------------
   $common
---------------------------------*/

body {
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background: #fff;
}
.contents {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
}
#campaign_mealkit {
  width: 100%;
  color: #302e2e;
  margin: 0 auto;
  background-color: #fff;
}
#campaign_mealkit .contentsInner {
  margin: 0 auto !important;
  padding: 0;
  max-width: none!important;
}
#campaign_mealkit ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#campaign_mealkit p {
  margin-bottom: 0;
}
#campaign_mealkit img {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
#campaign_mealkit .dis-in-block {
  display: inline-block;
}
#campaign_mealkit .pos-relative {
  position: relative;
}
#campaign_mealkit .pos-absolute-c {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  margin: auto;
}
#campaign_mealkit .papa-arrow-area p {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}


/*------------------------------------*
   $Header
 *------------------------------------*/

 .header{
  background: #fff;
  padding: 12px 0;
  position: relative;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.drawer .header__wrap{
  background: none;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 990px;
  position: relative;
}

.header .header__ttl a{
  vertical-align: bottom;
}
.header .header__ttl img{
  width: 300px;
  display: block;
}

.boxDrawer{
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
.boxDrawer .drawer-hamburger{
  position: absolute;
  margin-top: -50px;
}


/*------------------------------------*
   $Menu
 *------------------------------------*/

body .drawer-nav{
  z-index: 15;
  width: 80%;
  background: none;
  height: 100%;
  overflow: auto;
  padding-bottom:20%;
}
body.drawer--right .drawer-nav{
  right: -80%;
}
body .drawer-overlay{
  z-index:10;
  background-color:rgba(0,0,0,.6);
}


.drawerBtn{
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

body.drawer--right.drawer-open .drawer-hamburger{
  right: 80%;
}

body .drawer-hamburger{
  width: 28px;
  z-index:15;
  position: absolute;
}
body .drawer-hamburger-icon,
body .drawer-hamburger-icon:after,
body .drawer-hamburger-icon:before{
  background-color: #4d4d4d;
}


.nav__header{
  text-align: left;
  border-bottom:solid 1px #c7c7c8;
  background: #fff;
  border-radius:0 0 0 6px;
  font-size: 9pt;
}
.nav__header li{
  border-top:solid 1px #c7c7c8;
}
.nav__header li a{
  display: block;
  padding:18px 8px 16px 46px;
  text-decoration: none;
  position: relative;
  color: #302e2e;
}
.nav__header ul a{
  background: #f7f6f6;
  padding-left:46px;
}

.nav__header li a::before,
.nav__header li a::after{
  position: absolute;
  left: 0;
  top:50%;
  content: "";
}
.nav__header li a::before{
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #b8cb3a;
  margin:-9px 0 0 20px;
}

.nav__header li a::after{
  display: block;
  margin:-5px 0 0 26px;
  border:solid 4px transparent;
  border-left:solid 6px #fff;
}
.nav__header ul a{
  padding:16px 8px 14px 62px;
  border-top:solid 1px #fff;
}
.nav__header ul a::before{
  content:none;
}
.nav__header ul a::after{
  border-left-color:#302e2e;
  margin-left:46px;
}

.header.is-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/*---------------------------------
   $pc/common
---------------------------------*/

@media screen and (min-width: 641px) {
  .hidden-pc {
    display: none;
  }
  .hidden-sp {
    display: block;
  }
  a {
    color: #302e2e;
    text-decoration: underline;
  }
  a:hover, a:focus {
    text-decoration: none;
    opacity: 0.85;
  }


  /*---------------------------------
   $pc/main common
---------------------------------*/
  #campaign_mealkit {
    min-width: 960px !important;
    width: 100%;
  }
  #campaign_mealkit .hidden-pc {
    display: block;
  }
  #campaign_mealkit .hidden-sp {
    display: none;
  }
  #campaign_mealkit .ttl-img_area, #campaign_mealkit .img-area {
    width: 686px;
    margin: 0 auto;
  }
  #campaign_mealkit .bg-pattern {
    background: url(/contents/loppick/campaign/solution/cooking/common/bg-pattern.jpg);
    background-position: top -2px left 1px;
    background-size: 28px;
  }
  #campaign_mealkit .inner_area {
    margin: 0 auto;
    width: 960px;
  }
  #campaign_mealkit .papa-arrow-area {
    position: relative;
    width: 454px;
    height: auto;
    background: #FFFFFF;
    margin: 27px 0 7px 15px;
    padding: 7px;
    border: 2px solid #3E3E3E;
    color: #666666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }
  #campaign_mealkit .papa-arrow-area:after, #campaign_mealkit .papa-arrow-area:before {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
  }
  #campaign_mealkit .papa-arrow-area:after {
    border-width: 0 29px 12px 0;
    margin: 0 -4px 0 0;
    border-right-color: #FFFFFF;
  }
  #campaign_mealkit .papa-arrow-area:before {
    border-width: 0 35px 14px 0;
    margin: -2px 0 0 0;
    border-right-color: #3E3E3E;
  }
  /*---------------------------------
   $pc/block_hero
  ---------------------------------*/
  #campaign_mealkit .block_hero .kv-img_area {
    max-width: 1366px;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    background: none;
    text-indent: 0;
  }


  /*---------------------------------
   $pc/block_sec01
  ---------------------------------*/
  #campaign_mealkit .block_sec01 {
    margin: 0 auto;
    width: 100%;
  }
  #campaign_mealkit .block_sec01 .bg-pattern {
    margin: 0 auto;
    width: 100%;
  }
  #campaign_mealkit .block_sec01 .bg-pattern .img_area {
    margin: 0 auto;
    width: 687px;
  }
  #campaign_mealkit .block_sec01 .bg-pattern .ttl-img_area {
    margin: 0 auto;
    width: 535px;
    padding: 1.3% 0 0.45%;
  }
  #campaign_mealkit .block_sec01 .img_area {
    margin: 0 auto;
    width: 71.4%;
  }
  #campaign_mealkit .block_sec01 li:nth-of-type(2) {
    margin-top: 9px;
  }
  #campaign_mealkit .block_sec01 li:nth-of-type(3) {
    margin-top: 8px;
  }
  #campaign_mealkit .block_sec01 li:nth-of-type(4), #campaign_mealkit .block_sec01 li:nth-of-type(5) {
    margin-top: 10px;
  }
  #campaign_mealkit .block_sec01 .group-area {
    height: auto;
    width: 686px;
    margin: 0 auto;
  }
  #campaign_mealkit .block_sec01 .group1 {
    background: url(/contents/loppick/campaign/solution/cooking/sec01_img02.png) no-repeat;
    background-size: cover;
  }
  #campaign_mealkit .block_sec01 .group2 {
    background: url(/contents/loppick/campaign/solution/cooking/sec01_img03.png) no-repeat;
    background-size: cover;
  }
  #campaign_mealkit .block_sec01 .group3 {
    background: url(/contents/loppick/campaign/solution/cooking/sec01_img04.png) no-repeat;
    background-size: cover;
  }
  #campaign_mealkit .block_sec01 .group4 {
    background: url(/contents/loppick/campaign/solution/cooking/sec01_img05.png) no-repeat;
    background-size: cover;
  }
  #campaign_mealkit .block_sec01 .group5 {
    background: url(/contents/loppick/campaign/solution/cooking/sec01_img06.png) no-repeat;
    background-size: cover;
  }
  #campaign_mealkit .block_sec01 .group-1 {
    padding-top: 380px;
    padding-left: 16px;
  }
  #campaign_mealkit .block_sec01 .group-2 {
    margin-left: 343px;
    margin-top: -18px;
  }
  #campaign_mealkit .block_sec01 .papa-area {
    width: 98.9px;
    vertical-align: top;
  }
  #campaign_mealkit .block_sec01 .mama-arrow-area {
    margin-top: 3.5%;
    width: 274px;
  }
  #campaign_mealkit .block_sec01 .mama-arrow-area p {
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;
    top: 50%;
    left: 47%;
    width: 72%;
  }
  #campaign_mealkit .block_sec01 .mama-area {
    width: 54px;
  }
  #campaign_mealkit .block_sec01 .arrow {
    width: 5.81%;
    margin: 0.4% auto 1.5%;
  }


  /*---------------------------------
   $pc/block_sec02
  ---------------------------------*/
  #campaign_mealkit .block_sec02 {
    margin: 0 auto;
    width: 100%;
  }
  #campaign_mealkit .block_sec02 .bg-pattern {
    margin-bottom: 294px;
    height: 378px;
  }
  #campaign_mealkit .block_sec02 .ttl-img_area, #campaign_mealkit .block_sec02 .img_area {
    margin: 0 auto;
    width: 686px;
  }
  #campaign_mealkit .block_sec02 .pos-absolute-c {
    height: 355px;
    top: 496px;
  }


  /*---------------------------------
   $pc/block_sec03
  ---------------------------------*/
  #campaign_mealkit .block_sec03 {
    margin: 0 auto;
  }
  #campaign_mealkit .block_sec03 .bg-pattern {
    padding-bottom: 69px;
    margin-top: 60px;
  }
  #campaign_mealkit .block_sec03 .bg-pattern .ttl-img_area {
    width: 565.5px;
    top: 14px;
  }
  #campaign_mealkit .block_sec03 .bg-pattern ul {
    padding-top: 55px;
  }
  #campaign_mealkit .block_sec03 .bg-pattern li {
    background-color: #fff;
    background-position: center;
    padding-top: 472px;
    width: 70%;
  }
  #campaign_mealkit .block_sec03 .bg-pattern li.group1 {
    margin: 5% auto;
    height: 492px;
  }
  #campaign_mealkit .block_sec03 .bg-pattern li.group2 {
    margin: 6.2% auto;
    height: 492px;
  }
  #campaign_mealkit .block_sec03 .bg-pattern li.group3 {
    margin: 0 auto;
    height: 488px;
  }
  #campaign_mealkit .block_sec03 li .img_area {
    top: 180px;
    width: 506px;
    margin: auto;
  }
  #campaign_mealkit .block_sec03 .bg-pattern .group1 .img_area {
    top: 176px;
    margin-top: 0;
  }
  #campaign_mealkit .block_sec03 .bg-pattern .group2 .img_area {
    top: 177px;
    margin-top: 0;
  }
  #campaign_mealkit .block_sec03 .bg-pattern .group3 .img_area {
    top: 179px;
    margin-top: 0;
  }
  #campaign_mealkit .block_sec03 .bg-pattern .group1 .txt-img_area {
    width: 392px;
    margin: 0 auto;
    bottom: 4px;
  }
  #campaign_mealkit .block_sec03 .bg-pattern .group2 .txt-img_area {
    width: 369px;
    margin: 0 auto;
    bottom: 4px;
  }
  #campaign_mealkit .block_sec03 .bg-pattern .group3 .txt-img_area {
    width: 281px;
    margin: 0 auto;
    bottom: 0px;
  }
  #campaign_mealkit .block_sec03 .inner_area div:nth-of-type(2).img_area {
    width: 432px;
    margin: 4% auto 0;
  }


  /*---------------------------------
   $pc/footer
---------------------------------*/
  .footer {
    background: #b8cb3a;
    color: #fff;
    padding: 0 0 20px;
    text-align: center;
    min-width: 960px;
    font-size: 15px;
  }
  .footer .dlBlock {
    background: #efefef;
    padding: 60px 0;
    text-align: center;
  }
  .footer .dlBlock .dlBox {
    width: 534px;
    margin: -88px auto 26px;
    position: relative;
    left: 71px;
    letter-spacing: -.5em;
  }
  .footer .dlBlock .dlBox * {
    letter-spacing: -.5em;
    display: inline-block;
    vertical-align: middle;
  }
  .footer .dlBlock .app, .footer .dlBlock .google {
    margin: 0 0 0 46px;
  }
  .footer .dlBlock .dlBox>*:first-child {
    margin-left: 0;
  }
  .footer .dlBlock .app *, .footer .dlBlock .google * {
    letter-spacing: normal;
  }
  .footer .dlBlock .dlBox__qr {
    margin-right: 16px;
  }
  .footer .footer__targetArea {
    background: #b8cb3a;
    padding: 12px;
    margin: 0 0 20px;
    border-bottom: solid 1px #bfd04d;
  }
  .footer .footer__targetArea .btn {
    margin: 0 0 0 20px;
  }
  .footer .nav__footer>li {
    letter-spacing: normal;
    display: inline-block;
    padding: 0 18px;
    border-right: solid 1px #fff;
  }
  .footer .nav__footer>li:last-child {
    border: none;
  }
  .footer .nav__footer a {
    color: #fff;
    text-decoration: none;
  }
  .footer .nav__footer a:hover, .footer .nav__footer a:focus {
    text-decoration: underline;
  }
}


/*---------------------------------
   $sp/common
---------------------------------*/

@media screen and (max-width: 640px) {
  .hidden-sp {
    display: none;
  }
  .hidden-pc {
    display: block;
  }
  body {
    line-height: 1.6;
    color: #302e2e;
    font-size: 11pt;
    font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    background: #efeff4;
  }
  a {
    color: #302e2e;
  }


  /*---------------------------------
   $sp/main common
---------------------------------*/
  #campaign_mealkit {
    max-width: 640px;
    min-width: 320px;
  }
  #campaign_mealkit .hidden-pc {
    display: none;
  }
  #campaign_mealkit .hidden-sp {
    display: block;
  }
  #campaign_mealkit .bg-pattern {
    background: url(/contents/loppick/campaign/solution/cooking/common/bg-pattern.jpg);
    background-size: 5.1%;
    background-position-x: 1.8%;
  }
  #campaign_mealkit .papa-arrow-area {
    position: relative;
    width: calc(14.375rem + ((1vw - 3.2px) * 78.75));
    height: auto;
    background: #FFFFFF;
    margin: 90.5% 0 1% 1%;
    padding: 1.25% 2%;
    border: 2px solid #604341;
    border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
  }
  #campaign_mealkit .papa-arrow-area:after, #campaign_mealkit .papa-arrow-area:before {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
  }
  #campaign_mealkit .papa-arrow-area:after {
    border-width: 0 13px 10px 0;
    margin: 0 -1px 0 0;
    border-right-color: #FFFFFF;
  }
  #campaign_mealkit .papa-arrow-area:before {
    border-width: 0 18px 14px 0;
    margin: -2px 0 0 0;
    border-right-color: #604341;
  }


  /*---------------------------------
    $sp/block_hero
  ---------------------------------*/
  #campaign_mealkit .block_hero {
    margin-top: 0;
  }
  #campaign_mealkit .block_hero .kv-img_area {
    width: 100%;
  }


  /*---------------------------------
    $sp/block_sec01
  ---------------------------------*/
  #campaign_mealkit .block_sec01 .bg-pattern {
    padding-top: 6.5%;
    padding-bottom: 6.8%;
  }
  #campaign_mealkit .block_sec01 .bg-pattern .ttl-img_area {
    margin: 0 auto;
    margin-bottom: 7.5%;
    width: 74%;
  }
  #campaign_mealkit .block_sec01 .inner_area .ttl-img_area {
    padding-top: 5%;
    padding-bottom: 6.8%;
    width: 88.5%;
    margin: 0 auto;
  }
  #campaign_mealkit .block_sec01 .img_area {
    margin: 0 auto;
    width: 90%;
  }
  #campaign_mealkit .block_sec01 .group1 {
    background: url(/contents/loppick/campaign/solution/cooking/sp/sec01_img02_sp.jpg) no-repeat;
    background-size: contain;
  }
  #campaign_mealkit .block_sec01 .group2 {
    background: url(/contents/loppick/campaign/solution/cooking/sp/sec01_img03_sp.jpg) no-repeat;
    background-size: contain;
  }
  #campaign_mealkit .block_sec01 .group3 {
    background: url(/contents/loppick/campaign/solution/cooking/sp/sec01_img04_sp.jpg) no-repeat;
    background-size: contain;
  }
  #campaign_mealkit .block_sec01 .group4 {
    background: url(/contents/loppick/campaign/solution/cooking/sp/sec01_img05_sp.jpg) no-repeat;
    background-size: contain;
  }
  #campaign_mealkit .block_sec01 .group5 {
    background: url(/contents/loppick/campaign/solution/cooking/sp/sec01_img06_sp.jpg) no-repeat;
    background-size: contain;
  }
  #campaign_mealkit .block_sec01 .group-2 {
    margin-top: 0.4%;
    margin-left: 34%;
    width: 66%;
  }
  #campaign_mealkit .block_sec01 .papa-area {
    width: 18.52%;
    margin-top: 82%;
    margin-left: 1.62%;
  }
  #campaign_mealkit .papa-arrow-area p {
    font-size: 15px;
    font-size: calc(0.6875rem + ((1vw - 3.2px) * 1.25));
    font-weight: bold;
    line-height: 167%;
    text-align: left;
  }
  #campaign_mealkit .block_sec01 .mama-arrow-area {
    width: 79%;
    margin-top: 3.9%;
  }
  #campaign_mealkit .block_sec01 .mama-arrow-area p {
    font-size: 13px;
    font-size: calc(0.625rem + ((1vw - 3.2px) * 1.4063));
    /*10px-14.5px*/
    font-weight: bold;
    line-height: 136%;
    text-align: center;
  }
  #campaign_mealkit .block_sec01 .group-area {
    margin-bottom: 7.2%;
  }
  #campaign_mealkit .block_sec01 .group5 {
    margin-bottom: 4%;
  }
  #campaign_mealkit .block_sec01 .mama-arrow-area p {
    top: 50%;
    left: 48%;
    width: 70%;
  }
  #campaign_mealkit .block_sec01 .mama-area {
    width: 16%;
    margin-left: 2%;
  }
  #campaign_mealkit .block_sec01 .arrow {
    width: 10.7%;
    margin: 0 auto;
    padding-bottom: 2.3%;
  }


  /*---------------------------------
    $sp/block_sec02
  ---------------------------------*/
  #campaign_mealkit .block_sec02 {
    padding-bottom: 64.3%;
  }
  #campaign_mealkit .block_sec02 .bg-pattern {
    padding-top: 7%;
  }
  #campaign_mealkit .block_sec02 .ttl-img_area {
    width: 71%;
    margin: 0 auto;
    margin-bottom: 9.5%;
  }
  #campaign_mealkit .block_sec02 .img_area {
    width: 96%;
    margin: 0 auto;
    padding-bottom: 17%;
  }
  #campaign_mealkit .block_sec02 .img_area.pos-absolute-c {
    padding-bottom: 0;
    top: 121.5%;
    width: 100%;
  }


  /*---------------------------------
    $sp/block_sec03
  ---------------------------------*/
  #campaign_mealkit .block_sec03 .ttl-img_area {
    width: 66%;
    margin: -0.5% auto 0;
  }
  #campaign_mealkit .block_sec03 .bg-pattern {
    margin-top: 12.8%;
  }
  #campaign_mealkit .block_sec03 .bg-pattern .ttl-img_area {
    width: 100%;
    top: 1%;
    height: 4%;
  }
  #campaign_mealkit .block_sec03 li {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 109vw;
  }
  #campaign_mealkit .block_sec03 .group2 {
    height: 101.1vw;
  }
  #campaign_mealkit .block_sec03 .group3 {
    height: 101.1vw;
  }
  #campaign_mealkit .block_sec03 li .img_area {
    top: 50%;
    width: 100%;
    padding: 0 2.3%;
    height: 81%;
  }
  #campaign_mealkit .block_sec03 li .img_area::after {
    content: '';
    position: absolute;
    top: 10.5%;
    left: 0;
    background-color: #fff;
    z-index: -1;
    height: 102%;
    width: 100%;
  }
  #campaign_mealkit .block_sec03 .group2 .img_area {
    top: 44%;
  }
  #campaign_mealkit .block_sec03 .group3 .img_area {
    top: 45.5%;
  }
  #campaign_mealkit .block_sec03 .group2 .img_area::after {
    height: 111%;
  }
  #campaign_mealkit .block_sec03 .group3 .img_area::after {
    height: 110%;
  }
  #campaign_mealkit .block_sec03 .group1 .txt-img_area {
    bottom: -0.6%;
    width: 73%;
  }
  #campaign_mealkit .block_sec03 .group2 .txt-img_area {
    width: 73%;
    bottom: -1.7%;
  }
  #campaign_mealkit .block_sec03 .group3 .txt-img_area {
    width: 55%;
    bottom: -2.6%;
  }
  #campaign_mealkit .block_sec03 .inner_area div:nth-of-type(2).img_area {
    width: 89%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 13%;
  }


  /*---------------------------------
   $sp/footer
  ---------------------------------*/
  .footer {
    background: #b8cb3a;
    color: #fff;
    text-align: center;
    padding: 0 0 18px;
  }
  .dlBlock {
    background: #efefef;
    padding: 35px 15px 25px;
  }
  .dlBlock img {
    width: 100%;
  }
  .dlBlock .dlBox {
    padding: 25px 0 10px;
    position: relative;
  }
  .dlBlock .dlBox .app {
    width: 36%;
    position: absolute;
    left: 8%;
    bottom: 20%;
  }
  .dlBlock .dlBox .google {
    width: 40%;
    position: absolute;
    bottom: 21%;
    left: 52%;
  }
  .footer .footer__targetArea {
    margin: 0 0 18px;
    border-bottom: solid 1px #bfd04d;
  }
  .footer .footer__targetArea .btn {
    margin: -14% 0 5%;
    display: block;
  }
  .footer .footer__targetArea img {
    width: 100%;
  }
  .footer .nav__footer {
    letter-spacing: -.5em;
    font-size: 14px;
  }
  .footer .nav__footer>li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    border-left: solid 1px #fff;
    margin: 0 0 10px;
    padding: 0 10px;
  }
  .footer .nav__footer>li:first-child, .footer .nav__footer>li:last-child {
    border: none;
  }
  .footer .nav__footer>li:nth-child(4) {
    border: none;
  }
  .footer .nav__footer a {
    color: #fff;
    text-decoration: none;
  }
  .footer .copyright {
    font-size: 12px;
    padding: 0 0 8%;
    margin: 0;
  }
}


@media (max-width: 37.5em) {

/*------------------------------------*
   $～ 600px/Header
 *------------------------------------*/
  .header .header__ttl img{
    width: 219px;
  }

  .boxDrawer .drawer-hamburger{
    margin-top: -43px;
  }
}
